<?xml version="1.0"?>
<settings>
  <localRepository>@basedir@/target/it-repo</localRepository>

  <profiles>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <id>it-repo</id>

      <pluginRepositories>
        <pluginRepository>
          <id>local.central</id>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <url>@baseurl@/target/it-repo</url>
        </pluginRepository>
      </pluginRepositories>

      <repositories>
        <repository>
          <id>local.central</id>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <url>@baseurl@/target/it-repo</url>
        </repository>
      </repositories>

    </profile>
  </profiles>

  <servers>
    <server>
      <id>with-auth</id>
      <password>password123</password>
      <username>user1</username>
    </server>

    <server>
      <id>with-header-auth</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.USER}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>

    <server>
      <id>with-encrypted-auth</id>
      <password>{I7HkMmPZFuUHIbvB+DgR//2VtObX1FSAwoCdjJCiVZ4=}</password>
      <username>user1</username>
    </server>
  </servers>

</settings>
